extends menuBar
append body
    form
        input#id.form-control(type="hidden" name="id" value=!!user ? user.id : "")
        div(class="container-fluid")
            div(class="col-md-3")
                fieldset
                    label(for="lastname") Last Name
                        input#lastname.form-control.input-medium(value= !!customer ? customer.lastname : "")
            div(class="col-md-3")
            fieldset
                    label(for="firstname") First Name
                        input#firstname.form-control.input-medium(value= !!customer ? customer.firstname : "")
            div(class="col-md-3")
                fieldset
                    label(for="email") Email Address
                        input#email.form-control.input-medium(value= !!customer ? customer.email : "")
            div(class="col-md-3")
                fieldset
                    label(for="phone") Phone Number
                        input#phone.form-control.input-medium(value= !!customer ? customer.phone : "")
        div(class="container-fluid")
            div(class="col-md-9")
                fieldset
                    label(for="addr1") Address
                        input#addr1.form-control.input-medium(value= !!customer ? customer.addr1 : "")
                        
        div(class="container-fluid")                        
            div(class="col-md-9")
                fieldset
                    label(for="addr2") Address Line 2
                        input#addr2.form-control.input-medium(value= !!customer ? customer.addr2 : "")
        div(class="container-fluid")
            div(class="col-md-3")
                fieldset
                    label(for="city") City
                        input#city.form-control.input-medium(value= !!customer ? customer.city : "")
            div(class="col-md-3")
                fieldset
                    label(for="state") State
                        input#state.form-control.input-medium(value= !!customer ? customer.state : "")
            div(class="col-md-3")
                fieldset
                    label(for="zip") Zip Code
                        input#zip.form-control.input-medium(value= !!customer ? customer.zip : "")
        div(class="container-fluid")
            div(class="col-md-3 offset-md-3")
                fieldset
                    label(for="service") Service Branch
                        select#service.select.form-control.input-medium
                            option(value="" selected=!!!customer) -- Choose --
                            option(value="Army" selected=!!customer ? customer.service == "Army": false) Army
                            option(value="Navy" selected=!!customer ? customer.service == "Navy": false) Navy
                            option(value="Air Force" selected=!!customer ? customer.service == "Air Force": false) Air Force
                            option(value="Marine Corps" selected=!!customer ? customer.service == "Marine Corps": false) Marine Corps
                            option(value="Coast Guard" selected=!!customer ? customer.service == "Coast Guard": false) Coast Guard
                            option(value="Civil Air Patrol" selected=!!customer ? customer.service == "Civil Air Patrol": false) Civil Air Patrol
                            option(value="Coast Guard Auxiliary" selected=!!customer ? customer.service == "Coast Guard Auxiliary": false) Coast Guard Auxiliary
                            option(value="Public Health Service" selected=!!customer ? customer.service == "Public Health Service": false) Public Health Service
                            option(value="NOAA" selected=customer ? !!customer.service == "NOAA": false) NOAA
                            option(value="Merchant Marine" selected=!!customer ? customer.service == "Merchant Marine": false) Merchant Marine
                            
            div(class="col-md-3 ")
                fieldset
                    label(for="gender") Gender
                        select#gender.form-control.input-medium
                            option(value="" selected=!!!customer) -- Choose --
                            option(value="Male" selected=customer ? !!customer.gender == "Male": false) Male
                            option(value="Female" selected=customer ? !!customer.gender == "Female": false) Female
        div(class="container-fluid") 
            div(class="col-md-12")
                input(type="submit" onclick="submitClick(event)" class="submit button" value=buttonText)
        script.
            function submitClick(event){
                event.preventDefault();
                $.ajax({
                    url: "#{action}", 
                    type: "#{method}", 
                    contentType: "application/json",
                    data: JSON.stringify({
                        lastname:$("#lastname").val(),
                        firstname:$("#firstname").val(),
                        addr1:$("#addr1").val(),
                        addr2:$("#addr2").val(),
                        id:$("#id").val(),
                        city: $("#city").val(),
                        state: $("#state").val(),
                        zip: $("#zip").val(),
                        email: $("#email").val(),
                        phone: $("#phone").val(),
                        service: $("#service").val(),
                        gender: $("#gender").val()
                    }),
                    success: function(result){
                       $("#notification").empty()
                       .attr("class","")
                       .append(result.message)
                       .addClass("success");
                    },
                    error: function(jXQHR, errString) {
                        $("#notification").empty()
                        .attr("class","")
                        .append("Failed operation on user.  Error was:" + errString)
                        .addClass("error");
                    }
                });
            }