extends menuBar
append body
    form(action="#")
        div(class="well")
            div(class="container-fluid")
                div(class="col-md-3")
                    fieldset
                        label(for="lastname") Last Name
                            input#lastname.form-control.input-medium(disabled value= !!order ? order.lastname : "")
                div(class="col-md-3")
                    fieldset(class="span12")
                        label(for="firstname") First Name
                            input#firstname.form-control.input-medium(disabled value= !!order ? order.firstname : "")
                div(class="col-md-3")
                    fieldset
                        label(for="email") Email
                            input#email.form-control.input-medium(disabled value= !!order ? order.email : "")
                div(class="col-md-3")
                    fieldset
                        label Order Date
                            input#date.form-control.input-large(disabled value= !!order ? order.date.getMonth() +"/"+ order.date.getDate() +"/"+ order.date.getYear() : "")
            div(class="container-fluid")
                div(class="col-md-3")
                    a(class="action button" href="/customers/edit/" + order.customer_id) Edit Customer

        div(class="container-fluid")
            div(class="col-md-2")
                fieldset
                    label(for="cardType") Card Type
                        select#cardType.form-control.input-medium(readonly = !biggerThanBuilder)
                            option(value="American Express" selected= !!order ? order.card_type === "American Express" : "" ) American Express
                            option(value="Visa" selected= !!order ? order.card_type === "Visa" : "" ) Visa
                            option(value="MasterCard" selected= !!order ? order.card_type === "MasterCard" : "" ) MasterCard
                            option(value="Discover" selected= !!order ? order.card_type === "Discover" : "" ) Discover
            div(class="col-md-3")
                fieldset(class="span12")
                    label(for="cardName") Name on Card
                        input#cardName.form-control.input-medium(value= !!order ? order.card_name : "" readonly=!biggerThanBuilder)
            div(class="col-md-3")
                fieldset
                    if(biggerThanBuilder)
                        label(for="cardNumber") Card Number
                            input#cardNumber.form-control.input-medium(value= !!order ? order.card_number : "")
                    else
                        label Card Number
                            input#redacted.form-control.input-medium(value="Redacted" readOnly=!biggerThanBuilder)
            div(class="col-md-2")
                fieldset
                    label Expiration Date
                        input#cardExpire.form-control.input-large(value= !!order ? order.card_expire : "" readonly=!biggerThanBuilder)
            div(class="col-md-2")
                fieldset
                    label(for="cvv") CVV
                        input#cvv.form-control.input-medium(value= !!order ? order.card_civ : "" readonly=!biggerThanBuilder)

        div(class="container-fluid")
            div(class="col-md-12")

                h4 Rack 1:
                    if order && order.service
                        #{order.service}
            div(class="col-md-12")
                div(class="col-md-3")
                    fieldset
                        label(for="reverse") Reverse
                            input#reverse.form-control.input-medium(type='checkbox' name='reverse' readonly=!biggerThanBuilder checked = rchecked=(order.reverse==="Normal" ? undefined : "checked"))
                div(class="col-md-3")
                    fieldset
                        label(for="rowFill") Row Fill
                                input#rowFill.form-control.input-medium(value= !!order?order.row_fill: "" readonly=!biggerThanBuilder)
                div(class="col-md-3")
                    fieldset
                        label(for="numberRibbons") Quantity
                            input#numberRibbons.form-control.input-medium(value= !!order ? order.number_ribbons : "" readonly=!biggerThanBuilder)
                div(class="col-md-3")
                    fieldset
                        label(for="rowFill") Total Ribbon Price
                            input#totalRibbons.form-control.input-medium(value= !!order ? order.total_ribbons : "" readonly=!biggerThanBuilder)
                if listRibbons1
                    table.table(class="table-bordered table-hover")
                        tbody
                            each ribbonRow in listRibbons1
                                tr
                                    td(class="col-md-1")
                                        input#ribbon1QtyRow.form-control.input-medium(class="single-digit" value= ribbonRow.columns.length.toString() readonly=!biggerThanBuilder)
                                        |/
                                        input#ribbon1MaxRow.form-control.input-medium(class="single-digit" value= ribbonRow.columns.length.toString() readonly=!biggerThanBuilder)
                                    each ribbon in ribbonRow.columns
                                        td(class="col-md-2")
                                            if ribbon.imgSrc && ribbon.name
                                                center
                                                    img(src=ribbon.imgSrc title=ribbon.name)
                                            if ribbon.code
                                                center
                                                    p=ribbon.code
                                            center
                                                font(size=-2)
                                                    a(class="button" href="#" onclick="addClick(event)") replace
                                                    a(class="button" href="#" data-toggle="modal" data-target="#ribbonPalette") insert
                                                    a(class="button" href="#" onclick="removeClick(event)") remove
        div(class="container-fluid")
            div(class="col-md-12")
                h4 Rack 2:
                    if order && order.service
                        order.service
            div(class="col-md-12")
                div(class="col-md-3")
                    fieldset
                        label(for="rowFill2") Row Fill
                            input#rowFill2.form-control.input-medium(value= !!order?order.row_fill_2: "" readonly=!biggerThanBuilder)
                div(class="col-md-3")
                    fieldset
                        label(for="numberRibbons") Quantity
                            input#numberRibbons2.form-control.input-medium(value= !!order ? order.number_ribbons_2 : "" readonly=!biggerThanBuilder)
                div(class="col-md-3")
                    fieldset
                        label(for="rowFill") Total Ribbon Price
                            input#totalRibbons2.form-control.input-medium(value= !!order ? order.total_ribbons : "" readonly=!biggerThanBuilder)
                if listRibbons2
                    table.table(class="table-bordered table-hover")
                        tbody
                            each ribbonRow in listRibbons2
                                tr
                                    each ribbon in ribbonRow.columns
                                        td(class="col-md-1")
                                            |3/3
                                        td(class="col-md-2")
                                            if ribbon.imgSrc && ribbon.name
                                                center
                                                    img(src=ribbon.imgSrc title=ribbon.name)
                                            if ribbon.code
                                                center
                                                    p=ribbon.code
                                            center
                                                font(size=-2)
                                                    a(class="button" href="#" onclick="addClick(event)") replace
                                                    a(class="button" href="#" onclick="addClick(event)") insert
                                                    a(class="button" href="#" onclick="removeClick(event)") remove

    div(class="container-fluid")
        div(class="col-md-12")
            input(type="submit" onclick="submitClick(event)" class="submit button" value=buttonText)

    include ribbonPalette

    script.
        window.document.onload = (function (){
            //setup rack component(s)
        })
        function ribbonPaletteTabClick(event) {

        }
        function submitClick(event) {
            event.preventDefault();
            $.ajax({
                url: "#{action}",
                type: "#{method}",
                contentType: "application/json",
                data: JSON.stringify({
                    id: $("#id").val(),
                    city: $("#city").val(),
                    state: $("#state").val(),
                    zip: $("#zip").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    service: $("#service").val(),
                    gender: $("#gender").val()
                }),
                success: function (result) {
                    $("#notification").empty()
                        .attr("class", "")
                        .append(result.message)
                        .addClass("success");
                },
                error: function (jXQHR, errString) {
                    $("#notification").empty()
                        .attr("class", "")
                        .append("Failed operation on user.  Error was:" + errString)
                        .addClass("error");
                }
            });
        }