if (!!customerOrders && customerOrders.length > 0)
    table.table.table-striped
        thead
            tr
                th Last Name
                th First Name
                th Email
                th City
                th State
                th Service
                th Date
                th Total
                th
        tbody
            each customerOrder in customerOrders
                tr
                    td #{customerOrder.lastname}
                    td #{customerOrder.firstname}
                    td
                        - console.log("raw date: " + customerOrder.date.toString())
                        - var dateString = customerOrder.date.toString();
                        - var dateChunks = dateString.split(" ");
                        - var date = new Date(Date.parse(dateString.toString().split(" 00")[0]));
                        - console.log("date tostring(): " + date.toLocaleDateString());
                        a(href="mailto:" + customerOrder.email) #{customerOrder.email}
                    td #{customerOrder.city}
                    td #{customerOrder.state}
                    td #{customerOrder.service}
                    //td #{date.getMonth() +"/"+ date.getDay() +"/"+ date.getFullYear()}
                    td #{date.toLocaleDateString()}
                    td #{customerOrder.total_grand}
                    td
                        a(class="action button" href="/orders/edit/" + customerOrder.id) edit